@import 'common';

$back-color: #f8f9fa;
$main-color: #18bc9c;
$sub-color: #2c3e50;

main {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $back-color;

	.screen-border {
		flex: 1;
		position: relative;
		z-index: 20;
		background: inherit;

		&.screen-right,
		&.screen-left {
			height: 100%;
		}
		&.screen-up,
		&.screen-bottom {
			width: 100%;
		}
	}
	.screen-wrapper {
		height: 100vh;
		background: inherit;
		display: flex;
		flex-direction: column;
	}
}

main div.screen-border.screen-left {
	padding: 0 48px;
	flex: 0;
}
.screen-right {
	padding: 0 0 0 64px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	h3 {
		padding: 8px 0 8px 16px;
		font-size: 2rem;
		border-bottom: solid $main-color 5px;
	}

	p {
		padding: 0 32px 0 16px;
		font-size: 1.2rem;
	}

	.qr-wrapper {
		display: flex;

		p {
			padding-right: 0;
		}

		.qr {
			margin: 0 16px;
		}
	}
}

.screen-up {
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 16px 0;
		height: calc(100% - 32px);

		background-image: url('/assets/icons/logo_caption.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.screen-bottom {
	display: flex;
	flex-direction: column;

	.tip {
		margin: auto 0 16px 0;
		padding: 16px 0 0 0;
		border-top: solid darken($back-color, 15%) 1px;
		text-align: center;
		color: darken($back-color, 40%);
	}
}

.game-wrapper {
	position: relative;

	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: rgba(0, 27, 56, 0.08) 0px 4px 16px;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		z-index: 30;
		pointer-events: none;
	}
}

.game-screen {
	position: relative;
	border-radius: 8px;
	width: 720px;
	height: 480px;
	background-color: white;
	overflow: hidden;

	& > * {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.scene-transition {
		&::before {
			content: '';
			display: inline-block;
			position: relative;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			padding: 0;
			z-index: 10;
			background-color: $sub-color;
			border: solid $sub-color 0px;
			border-radius: 50%;
			transform: translate(-50%, -50%);

			animation: scene-transition 1s ease-in-out;
			@keyframes scene-transition {
				49% {
					background-color: $sub-color;
				}
				50% {
					border-width: 480px;
					padding: 0;
					background-color: transparent;
				}
				100% {
					padding: 480px;
					border-width: 0;
					background-color: transparent;
				}
			}
		}
	}

	&.scene-title #title-screen,
	&.scene-waiting #waiting-screen,
	&.scene-how-to-play #how-to-play-screen,
	&.scene-game #game-screen {
		visibility: visible;
	}
}

.screen {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		z-index: 1;
		margin: 64px 0 16px 0;
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
	}

	.buttons {
		margin: auto auto 64px auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 240px;

		button {
			margin-top: 32px;
			font-size: 2rem;
			cursor: pointer;
			background-color: $main-color;
			&.sub {
				background-color: $sub-color;
			}
			color: white;
			font-weight: bold;
			border-radius: 4px;
			padding: 12px;
			border: none;

			transition: background-color 0.2s;
			&:hover {
				background-color: darken($main-color, 5%);
				&.sub {
					background-color: darken($sub-color, 5%);
				}
			}
		}
	}
}

#cancel {
	display: none;
}

#title-screen {
	display: flex;
	flex-direction: row;

	& > * {
		height: 100%;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: linear-gradient(45deg, rgba($main-color, 0.1), rgba($main-color, 0.3));
	}

	.title {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.pieces {
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			margin: 16px 0;
		}
		&.color-main > div {
			background-color: $main-color;
		}
		&.color-sub > div {
			background-color: $sub-color;
		}
	}

	h2 {
		font-size: 4rem;
	}
}

#how-to-play-screen {
	h2 {
		margin-top: 32px;
	}

	.how-to-play {
		display: flex;

		.descriptions {
			padding: 8px 32px;
			font-size: 1.1rem;
		}
		.sample-board {
			margin-right: 16px;
		}
	}
}

.board {
	table-layout: fixed;
	border-collapse: separate;
	width: 288px;
	border-radius: 8px;
	background-color: darken($back-color, 10%);
	padding: 4px;

	tr {
		border: none;
		height: 32px;

		td {
			display: inline-block;
			border: none;
			margin: 4px;
			padding: 16px;
			border-radius: 50%;
			background-color: white;

			&.main {
				background-color: $main-color;
			}
			&.sub {
				background-color: $sub-color;
			}
			&.laze {
				background-image: url('/assets/icons/logo.png');
				background-position: center;
				background-size: 70%;
				background-repeat: no-repeat;
			}
		}
	}
}

#waiting-screen {
	.ripples {
		div {
			position: absolute;
			width: 0;
			height: 0;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			border: solid rgba($main-color, 0.4) 2px;
			opacity: 0;

			animation: ripple 2s cubic-bezier(0.25, 1, 1, 1) forwards;
			@keyframes ripple {
				from {
					opacity: 1;
					padding: 4px;
				}
				to {
					padding: 100px;
					opacity: 0;
				}
			}
		}

		@for $i from 0 to 3 {
			div:nth-child(#{$i + 1}) {
				animation-delay: #{$i * 0.3}s;
			}
		}
	}

	.animation {
		z-index: 1;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		div {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			border: solid white 4px;
			margin: 0 16px;
			background-size: 200%;
			background-position: right;

			&.load {
				background-image: linear-gradient(to left, $main-color 50%, $sub-color 50%);
				animation: load 0.5s ease forwards;
			}
			&:not(.load) {
				background-image: linear-gradient(to left, $sub-color 50%, $main-color 50%);
				animation: unload 0.5s ease forwards;
			}

			@keyframes load {
				to {
					background-position: left;
				}
			}
			@keyframes unload {
				to {
					background-position: left;
				}
			}
		}
		@for $i from 0 to 4 {
			div:nth-child(#{$i + 1}) {
				animation-delay: #{$i * 0.6 + 1}s;
			}
		}
	}
}
