@import 'common';

.container-wrapper.main-content {
	padding-right: 32px;
	padding-left: 32px;

	h1 {
		font-size: 3rem;
		padding-bottom: 8px;
		border-bottom: solid #ccc 1px;
	}
	h2 {
		font-size: 2rem;
	}
	p {
		font-size: 1.2rem;
	}
}
