@import 'common';

.container-wrapper.main-content {
	padding-right: 32px;
	padding-left: 32px;

	h1 {
		font-size: 2.5rem;
		padding-bottom: 8px;
		border-bottom: solid #ccc 1px;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.3rem;
		font-weight: bold;
	}

	ul {
		li {
			margin: 8px 0;
		}
	}
}
